.navbar{
    
    border-bottom: 1px solid wheat;
    margin-bottom: 1vh;
   
    display: flex;

    align-items: center;
}
.nav{
    display: flex;
    justify-content: stretch;
    align-items: center;
}
a,button{
    color: wheat;
    text-decoration: none;
    margin: 0 1em;
    text-shadow: 2px 2px 5px black;
}

a.active{
    color: white;
    font-size: large;
    text-decoration: wavy;
}
button{
    background-color: transparent;
    border: none;
    color: wheat;
    
    cursor: pointer;
    
    transition: background-color 0.3s ease;
}
