.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
    background-image: radial-gradient(circle, rgba(229, 166, 18, 0.1), rgba(203, 216, 15, 0.1));
    color: wheat;
    width: 50%;
    margin:auto;
    box-shadow: 0px 2px 5px black;
    height:60vh;
}