<div class="about-container" title="Click On Developer To Contact">
   
    <p>
       <span style="color: rgb(255, 4, 4);">(BETA) </span>Flash Lingua is a web application designed to help users create and manage vocabulary flashcards effortlessly. It allows users to input words, generate flashcards with synonyms and antonyms, and save them for later review.
    </p>
    <h4>Features</h4>
    <ul>
        <li>Create flashcards with synonyms and antonyms</li>
        <li>Responsive design for mobile and desktop</li>
    </ul>
    <h4>Upcoming Releases</h4>
    <ul>
        <li>Download flashcards as PDFs</li>
        <li>Enhanced user interface</li>
        <li>Data Visualizations</li>
    </ul>
   <a style="text-decoration: none; color: wheat;" href="mailto:venugopaldesai10@gmail.com">Developer : Venugopal Desai</a>
</div>
