<body [style.background-image]="'url('+background+')'">
  <app-navbar *ngIf="(User$ | async) !== null"></app-navbar> 
  <div class="loading" id="loading">
    <div class="loader"></div>
    
  </div>
  <header class="header">
    
    <h2>Flash Lingua <span style="color: red;font-size: medium;">(BETA)</span></h2>
    
    <div class="img1">
    </div>
    <h3>Generate vocabulary flash card with ease</h3>
    <h4 (click)="reload()">Click Here For Background or Theme change</h4>
</header>

<router-outlet></router-outlet> 

</body>
