<div class="forgotpasswordcontainer">
    <p>Please enter your email to reset your password</p>
    <form [formGroup]="authform" (ngSubmit)="onSubmit()" class="d-flex flex-column w-100 justify-content-center align-items-center">
        <input type="email" placeholder="Email" formControlName="email" />
        <button type="submit" class="forgotpassword">Reset Password</button>
    </form>
    <div class="alert alert-danger d-flex align-items-center p-2" *ngIf="errormsg">
        {{ errormsg }}
    </div>

    <div class="d-flex align-items-center" *ngIf="isLoading">
        <mat-spinner class="loading-spinner" [diameter]="22" style="fill: rgb(4 49 226 / 59%);"></mat-spinner>
        Resetting password...
    </div>
    <p> Sign in instead?</p>
    <button routerLink="/login" class="signin">Sign In</button>
</div>