<!doctype html>
<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/index.css">
    </head>
    <body>
       
        <main class="main">
            <div class="inputLine">
                <input type="text" id="inp" placeholder="Please enter your word" [(ngModel)]="word">
               
            </div>
            <div class="btns">
             <button class="btn" id="crt" (click)="Create()" [disabled]="!word">Create</button>
             <button class="btn" id="save" (click)="downloadCardAsPDF()" [disabled]="!savestatus">Save</button>
            </div>
             <div class="cards">
                <!-- <div class="synCard" id="syncard">
                    <div class="cardHeader">Synonyms</div>
                    <div class="cardBody" id="cardsb"></div>
                </div> -->
            <div class="mainCard" id="maincard">
            </div>
            
            <!-- <div class="anoCard" id="antcard">
                <div class="cardHeader">Antonyms</div>
                <div class="cardBody" id="cardab"></div>
            </div> -->
        </div>
           
        </main>
        <footer class="footer"></footer>
        <script type="module" src="/index.js"></script>
    </body>
</html>